.header-login-signup{
	padding: 20px 40px;
	box-sizing:border-box;
	box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.15);
	height: 80px;
	background-color: #fff;
}

.header-login-signup .header-limiter {
	max-width: 1200px;
	text-align: center;
	margin: 0 auto;
}

.header-login-signup .header-limiter h1{
	float: left;
	font: normal 28px Cookie, Arial, Helvetica, sans-serif;
	line-height: 40px;
	margin: 0;
}

.header-login-signup .header-limiter h1 span {
	color: #5383d3;
}

.header-login-signup .header-limiter a {
	color: #5c616a;
	text-decoration: none;
}

.header-login-signup .header-limiter nav {
	font:16px Arial, Helvetica, sans-serif;
	line-height: 40px;
	float: left;
	margin: 0 0 0 60px;
	padding: 0;
}

.header-login-signup .header-limiter nav a{
	font-size: 14px;
	display: inline-block;
	padding: 0 5px;
	opacity: 0.9;
	text-decoration:none;
	line-height: 1;
}

.header-login-signup .header-limiter nav a:hover {
	opacity: 1;
}

.header-login-signup .header-limiter nav a.selected {
    background-color: #86a3d5;
    color: #ffffff;
    border-radius: 3px;
    padding: 6px 10px;
}

.header-login-signup .header-limiter ul.logsig {
	font: 14px Arial, Helvetica, sans-serif;
	list-style: none;
	line-height: 1;
	float: right;
}

.header-login-signup .header-limiter ul.logsig li {
	display: inline-block;
	margin-left: 15px;
	opacity:0.9;
}

.header-login-signup .header-limiter ul.logsig li:hover{
	opacity: 1;
}

.header-login-signup .header-limiter ul.logsig li:last-child a {
	font-weight: bold;
	background-color: #3a3c3e;
	padding: 10px 15px;
	border-radius: 3px;
}

.header-user-menu{
	position: relative;
	float:right;
	background-color:#3a3c3e;
	width:75px;
	height:40px;
	border-radius:2px;
}

.header-user-menu:before{
	content:'';
	width:0;
	height:0;
	top: 18px;
	left: 15px;
	position:absolute;
	border:5px solid transparent;
	border-top-color:#fff;
}

.header-user-menu ul{
	display: none;
	font:bold 13px Arial, Helvetica, sans-serif;
	background-color: inherit;
	list-style: none;
	position: absolute;
	text-align: center;
	width: 125px;
	top: 25px;
	right: 0;
	padding: 10px;
	border-radius: 2px;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
	box-sizing: border-box;
}

.header-user-menu:active ul,
.header-user-menu:hover ul,
.header-user-menu.show ul{
	display:block;
}

.header-user-menu ul li{
	
	padding:5px;
}

.header-user-menu ul li a{
	color: white !important;
}

.header-user-menu ul li a:hover{
	opacity:0.9;
}

.header-user-menu ul li a.highlight{
	color:#e9ac09;
}

.header-user-menu .loggedinusrpropic{
    position: absolute;
    top: 4px;
    right: 5px;
    height: 33px;
    width: 33px;
    border-radius: 50%;
    overflow:hidden;
}

@media all and (max-width: 600px) {

	.header-login-signup {
		padding: 25px;
		height: 85px;
	}

	.header-login-signup .header-limiter h1 {
		float: none;
		margin: -8px 0 2px;
		text-align: center;
		font-size: 24px;
		line-height: 1;
	}

	.header-login-signup .header-limiter nav {
		margin: 0;
		float: none;
	}

	.header-login-signup .header-limiter nav li a {
		font-size: 13px;
	}

	.header-login-signup .header-limiter ul {
		display: none;
	}

}